---
import { proyectos } from '../../../informacion.json';
import Chip from '../shared/chip.astro';
---

<section class="mt-10 mx-10 p-3">
    <div class="flex flex-col">
        <h2 class="text-2xl font-black text-zinc-300">{proyectos.titulo}</h2>
        {
            proyectos.proyectos.map((proyecto) => (
                <div class="flex flex-col mt-5 p-3 rounded-lg hover:bg-zinc-800">
                    <div class="flex flex-row justify-between">
                        <a class="text-xl font-black text-zinc-300 hover:underline" href={proyecto.url} target="_blank">{proyecto.label}</a>
                        <span class="text-zinc-500">{proyecto.fecha}</span>
                    </div>
                    <p class="mt-3 text-zinc-400">{proyecto.descripcion}</p>
                    <div class=" flex flex-row gap-3 mt-3">
                        {
                            proyecto.herramientas.map((tecnologia) => (
                                <Chip label={tecnologia.label} />
                            ))
                        }
                    </div>
                </div>
            ))
        }
    </div>
</section>