---
import { side_projects } from '@info'

import Chip from '../shared/chip.astro'
---

<section class="flex flex-col">
    <h1 class="text-xl font-bold text-zinc-200">{side_projects.title}</h1>
    {
        side_projects.projects.map(project => (
            <div class="grid grid-cols-4 gap-5 mt-10 max-[500px]:flex max-[500px]:flex-col max-[500px]:gap-2">
                <span class="text-zinc-400 text-base w-[200px]">{project.status}</span>
                <div class="col-span-3">
                    <h2 class="text-lg font-bold text-zinc-200 hover:underline hover:cursor-pointer">{project.title}</h2>
                    <p class="text-zinc-400 mt-2">{project.description}</p>
                    <div class="flex flex-row gap-2 mt-2">
                        {
                            project.technologies.map((tech) => (
                                <Chip label={tech.label} />
                            ))
                        }
                    </div>
                </div>
            </div>
        ))
    }
</section>